<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/css/admin.css" />
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/iconfont.css" />
</head>
<body>
	<div class="top">
		<div class="top1"></div>
	</div>
	<div class="title"></div>
	<div class="login_box">
		<div class="login_content">
			<div class="login">
				<div class="user">
					<i class="iconfont icon-yonghu"></i>
					<input type="text" id="username" placeholder="用户名">
				</div>
				<div class="psd">
					<i class="iconfont icon-mima"></i>
					<input type="password" id="pwd"  placeholder="密码">
				</div>
				<div class="code">
					<i class="iconfont icon-ecurityCode"></i>
					<input type="text" id="code" placeholder="验证码" class="code_text">
					<input type="button" id="code_con" class="code_content">
				</div>
				<button id="loginBtn" class="login_btn">登录</button>
				<div class="login_bottom">
					<input type="checkbox" />
					<i>保存登录信息</i>
					<a class="forget">忘记密码?</a>
					<a class="go">去店铺首页>></a>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/js/jquery-1.11.3.js" ></script>
<script type="text/javascript" src="/js/admin.js" ></script>
</html>