<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel='stylesheet' href='/css/goods_list.css' />
</head>
<body>
	<h2>
		ECSHOP管理中心-商品列表
		<span><a href="#"><img src="./images/teach.png"/></a></span>
		<input type="button" value="+ 添加新商品" class="addnew">
	</h2>
	<table border="1">
		<tr>
			<td width="103">编号</td>
			<td width="88">商品名称</td>
			<td width="56">货号</td>
			<td width="103">价格</td>
			<td width="55">上架</td>
			<td width="55">精品</td>
			<td width="55">新品</td>
			<td width="55">热销</td>
			<td width="88">推荐排行</td>
			<td width="49">库存</td>
			<td width="89">虚拟销量</td>
			<td width="220">操作</td>
		</tr>
	</table>
	<p>总计<span>0</span>个记录 分为<b>0</b>页 当前第<i>0</i>页，每页  |  第一页 上一页 下一页 最末页</p> 
</body>
</html>