body,h1,h3,h2,h4,h5,h6,p,dl,dd,ul,ol,form,input,fieldset,th,td,iframe {
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6,strong,b {
	font-weight: normal;
}

i,
em {
	font-style: normal;
}

a {
	text-decoration: none;
	color: #666;
}

li {
	list-style: none;
}

img {
	border: none;
	vertical-align: top;
}

input {
	vertical-align: top;
}

a,
input,
area {
	outline: none;
}

input {
	border: 0;
}

body {
	font-size: 12px;
	font-family: "微软雅黑";
}

body {
	width: 100%;
	height: auto;
	background: url(../images/body_bj.jpg);
}

body h2 {
	height: 30px;
	margin: 0 0 10px 10px;
	border-bottom: 1px solid #ccc;
	font-size: 18px;
	color: #333;
	padding: 20px 0 0 10px;
}

body h2 span {
	margin-left: 10px;
}

body h2 .good_list {
	width: 98px;
	height: 26px;
	background: #c43926;
	border-radius: 5px;
	color: #fff;
	float: right;
	margin-right: 3px;
	cursor: pointer;
}

body .choice {
	height: auto;
	margin: 10px 10px 0 10px;
	border: 1px solid #d7d7d7;
}

body .choice ul {
	width: 100%;
	height: 42px;
	margin-left: 10px;
}

body .choice ul li {
	float: left;
	width: 88px;
	height: 42px;
	cursor: pointer;
	line-height: 42px;
	text-align: center;
}

body .choice ol {
	width: 100%;
	height: auto;
	background: #fefefe;
}

body .choice ol li:nth-of-type(1) table {
	padding-top: 20px;
}

body .choice ol li:nth-of-type(1) table tr {
	display: block;
	margin-bottom: 15px;
}

body .choice ol li:nth-of-type(1) table tr td:nth-of-type(1) {
	text-align: right;
	font-weight: 600;
	vertical-align: top;
	padding: 5px 1em;
	width: 130px;
}

body .choice ol li:nth-of-type(1) table tr td input {
	border: 1px solid #a9a9a9;
	height: 20px;
	outline: 0;
}

body .choice ol li:nth-of-type(1) table tr:nth-of-type(4) td:nth-of-type(2) input {
	width: 60px;
	height: 28px;
	background: #ff3f3f;
	color: #fff;
	border-radius: 3px;
}

body .choice ol li:nth-of-type(1) table tr:nth-of-type(11) td:nth-of-type(2) {
	margin: 5px 0;
}

body .choice ol li:nth-of-type(1) .confirm {
	width: 60px;
	height: 28px;
	background: #ff3f3f;
	color: #fff;
	margin: 0 5px 0 630px;
	border-radius: 4px;
}

body .choice ol li:nth-of-type(1) .reset {
	width: 60px;
	height: 28px;
	background: #ff3f3f;
	color: #fff;
	border-radius: 4px;
}

body .choice .hide {
	display: none;
}

body .choice .show {
	display: block;
}

body .choice .normal {
	background: #efefef;
	color: #787878;
}
body .choice .hover {
	background: #fefefe;
	color: #192e32;
	font-weight: 600;
}